@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="custom-title2" >@ViewData["Title"]</h1>

<h2 class="custom-title" >Overview</h2>
<p>This privacy policy explains how the ChessLite Server API collects, uses, and protects your information. By using this website, you agree to the terms of this policy. We are committed to ensuring that your privacy is protected.</p>

<h2 class="custom-title">Information Collection</h2>
<p>We may collect the following information:</p>
<ul>
    <li>Personal identification information (name, email address, etc.)</li>
    <li>Information related to game progress, game statistics, and user interactions within the app.</li>
</ul>
<p>This information is collected to provide users with a better gameplay experience, improve our services, and maintain the functionality of the ChessLite platform.</p>

<h2 class="custom-title" >Data Security</h2>
<p>We are committed to securing your data. All personal information is stored securely, and we use industry-standard security measures to protect against unauthorized access or disclosure. We do not sell, trade, or otherwise transfer your personal information to outside parties.</p>

<h2  class="custom-title" >Cookies</h2>
<p>The ChessLite platform may use cookies to enhance the user experience by remembering preferences and game settings. Cookies are small files that are stored on your computer’s hard drive that allow us to recognize your browser and capture certain information. Users can choose to disable cookies, though this may affect certain functionality on the platform.</p>

<h2 class="custom-title">User Consent</h2>
<p>By using the ChessLite Server API, you consent to the collection and use of your information as outlined in this policy.</p>

<h2 class="custom-title">Changes to this Privacy Policy</h2>
<p>Any updates to our privacy policy will be posted on this page. You should check this page periodically to ensure you are aware of any changes.</p>

<h2 class="custom-title" >Contact</h2>
<p>If you have any questions or concerns regarding this privacy policy, please feel free to contact us at <strong>aviad825@gmail.com</strong>.</p>

<p>&copy; 2024 - Aviad Korakin. All rights reserved.</p>
<style>
    .custom-title {
        font-family: 'Srisakdi', cursive;
        font-weight: 400;
    }
</style>